/* RESET CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}



img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/*BODY*/
body {
  /* min-width: 480px; */
}

body.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}



/*HEADER*/

header {
  /* background: rgb(255, 255, 255); */
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
  width: 100%;
  height: 150px;
  position: sticky;
  color: white;
  top: 0;

}

.container-header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 5%;

}

#langage {
  width: 24px;
  height: 16px;
  background: url("img/france-flag.svg");
  background-size: cover;
  border: solid white 1px;
}


.menu-petit-cache {
  opacity: 0;
  animation: animation-menu-petit-cache 0.35s linear;


}

.menu-petit-visible {
  animation: animation-menu-petit-visible 0.35s linear;

}

@keyframes animation-menu-petit-visible {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  90% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animation-menu-petit-cache {
  0% {
    transform: translateY(0);
    opacity: 1;

  }

  40% {
    transform: translateY(3px);

  }

  55% {}


  100% {
    transform: translateY(-30px);
    opacity: 0;

  }
}

#burger-button {
  display: none;
  cursor: pointer;
  transition-duration: 1s;
  font-size: 25px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
}

header h1 {
  font-size: 2em;
  margin-left: 25px;
}

header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 10px;
}


/*MAIN */

main {
  width: 100%;
  height: auto;
}

footer {
  width: 100%;
  height: auto;
}


/* REHIDE MENU SI OUVERT ET RESIZE DE LA PAGE */

@media only screen and (min-width: 768px) {
  #menu-petit {
    height: 0px;
    visibility: hidden;
  }
}

/* CSS TABLET */

@media only screen and (max-width: 768px) {

  .menu-grand {
    display: none;
  }

  #burger-button {
    display: block;
  }

  #menu-petit ul {
    flex-direction: column;
    text-align: center;
    line-height: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 2px black, 4px 4px 2px black, -2px -2px 2px black;
  }

}

/* CSS PHONE */
@media only screen and (max-width: 480px) {
  .accueil {
    width: 100vw;
    margin-top: calc(80vh - 300px);
  }

  .accueil h1 {
    font-size: 2.2em;
    color: white;
    text-transform: uppercase;
    text-align: center;
    width: 70%;
    margin: auto;
  }

  .accueil button {
    display: block;
    height: 80px;
    width: 90%;
    margin: auto;
    border-radius: 25px;
    background: rgba(217, 217, 217, 0.6);
  }

  section {
    width: 100%;
  }

}


/*-----FAB----------*/